<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /marketing_automation/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /marketing_automation/index.html [L]
</IfModule>
